@import "/src/assets/breakpoints.scss";

.character {
  margin: 1rem auto 0;
  max-width: 1440px;
  width: 100%;

  &__hero {
    height: max-content;
    max-width: 100%;
    position: relative;

    &-img {
      box-shadow: 10px 5px 20px 5px rgba(0, 0, 0, 0.8);
      min-height: 700px;
      width: 100%;

      @include mobile {
        min-height: 220px;
      }
    }

    &-info {
      color: #fff;
      bottom: 2rem;
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      text-shadow: 1px 1px 2px #000;

      @include mobile {
        h2 {
          font-size: 1.2rem;
        }
      }

      h1 {
        font-size: 2.5rem;

        @include mobile {
          font-size: 1.5rem;
        }
      }
    }
  }

  &__hero-rol {
    font-size: 1.2rem;
    margin-top: 2rem;
    text-shadow: 1px 1px 2px #000;
    padding: 0 1rem;

    .rol {
      display: flex;
      margin: 1rem 0;

      .tags {
        font-weight: 500;
      }

      p {
        padding-right: 2rem;
      }
    }
  }

  &__hero-charts {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &-button-container {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin: 3rem;
  }
}
