<ng-container *ngIf="hero$ | async as hero">
  <main class="character">
    <section class="character__hero">
      <img
        class="character__hero-img"
        src="/assets/img/champion/splash/{{ hero.id }}_0.jpg"
        [alt]="hero.name"
      />
      <div class="character__hero-info">
        <h2>{{ hero.title }}</h2>
        <h1>{{ hero.name }}</h1>
      </div>
    </section>
    <section class="character__hero-rol">
      <p>{{ hero.blurb }}</p>
      <div class="rol">
        <p *ngFor="let rol of hero.tags" class="tags">{{ rol | uppercase }}</p>
      </div>
    </section>
    <section class="character__hero-charts">
      <ngx-charts-pie-chart
        [view]="view"
        scheme="cool"
        [results]="data"
        [gradient]="true"
        [labels]="true"
      >
      </ngx-charts-pie-chart>
    </section>

    <div class="character-button-container">
      <button type="button" tabindex="0" class="btn" (click)="back()">
        Back
      </button>
    </div>
  </main>
</ng-container>
