<section class="home">
  <div class="home-background">
    <video
      id="video"
      class="home-background__video"
      src="https://lolstatic-a.akamaihd.net/frontpage/apps/prod/signup/es_ES/385a96b283273b8e4d53891affa5ab3738b8ab31/assets/es_ES/assets/summoners-rift.mp4"
      muted="muted"
      autoplay="true"
      loop="true"
    ></video>
  </div>
  <div class="home-button-container">
    <button type="button" tabindex="0" class="btn" routerLink="/characters">
      See all characters
    </button>
  </div>
</section>
