<nav>
  <section class="filter">
    <div class="filter-title">Filter by role</div>
    <select class="filter-roles" (change)="emitFilter($event)">
      <option class="filter-role" *ngFor="let role of roles" [value]="role">
        {{ role }}
      </option>
    </select>
  </section>
  <section class="search">
    <input
      class="search-input"
      autocomplete="off"
      type="text"
      placeholder="Search your Hero"
      [(ngModel)]="searchValue"
      #input
    />
  </section>
</nav>
