/* You can add global styles to this file, and also import other style files */

@import url("./assets/animations.scss");

@font-face {
  font-family: "Friz";
  src: local("Friz"),
    url("./assets/fonts/Friz\ Quadrata\ Regular.ttf") format("truetype");
}

:root {
  --main-font: "Friz";
  --app-black: #111;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

.btn {
  background-color: #111;
  border: none;
  box-shadow: 3px 3px 15px 3px #fff;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
}
